.background_head {
    width: 1440px;
    height: 1017px;
    background: rgba(56, 88, 4, 0.08);
}

.body {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 64px;
    height: 64px;
    padding-left: 96px;
    padding-top: 51px;
}

.menu {
    display: inline-flex;
    height: 64px;
    width: 1440px;
}

.menu_list {
    list-style: none;
    margin-left: 101px;
    margin-right: 465px;
    margin-top: 66px;
    padding: 0px;
    width: 590px;
    height: 33px;
}

.menu_btn {
    display: inline;
    margin-left: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

#home {
    margin-left: 0;
}

.top_btn {
    text-decoration: none;
    color: #000000
}

.top_btn:hover {
    border-bottom: 2px solid #385804;
    padding-bottom: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.burger {
    width: 38px;
    height: 11px;
    padding-right: 95px;
    padding-top: 82px;
}

.block1 {
    display: inline-flex;
}

.name {
    width: 638px;
    height: 288px;
    margin-left: 122px;
    margin-top: 147px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}

.text1 {
    width: 494px;
    height: 183px;
    margin-top: 43px;
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.btn1 {
    border: none;
    width: 307px;
    height: 78px;
    margin-top: 43px;
    margin-left: 122px;
    background: #385804;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #FFFFFF;
}

.img_block1 {
    width: 680px;
    height: 902px;
    margin-top: 125px;
    background: #FFBB00;
}

.block2 {
    display: inline-flex;
}

.name2 {
    width: 605px;
    height: 192px;
    margin-top: 249px;
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}

.header_list {
    width: 494px;
    height: 128px;
    margin-top: 258px;
    margin-left: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #26313B;
}

li {
    list-style-type: none;
    padding-left: 0px;
}

.put {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #385804;
    margin-top: 67px;
}

.put_text {
    width: 494px;
    height: 109px;
    margin-left: 44px;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.put_text p {
    margin-top: 0px;
}

.item_put {
    display: inline-flex;
}

.gren_box {
    display: inline-flex;
    width: 1248px;
    height: 565px;
    margin-top: 149px;
    margin-left: 96px;
    background: #385804;
}

.img_bloc3 {
    width: 483px;
    height: 497px;
    margin-top: 34px;
    margin-left: 34px;
    background: #FB6542;
}

.name3 {
    width: 605px;
    height: 192px;
    margin-left: 71px;
    margin-top: 51px;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
}

.text3 {
    width: 494px;
    height: 113px;
    margin-top: 12px;
    margin-left: 71px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF
}

.btn3 {
    width: 241px;
    height: 63px;
    margin-top: 73px;
    margin-left: 71px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #385804;
    border: none;
}

.bloc4 {
    display: inline-flex;
}

.header4 {
    width: 605px;
    height: 192px;
    margin-top: 225px;
    margin-left: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}

.img_bloc4_1 {
    width: 663px;
    height: 1142px;
    margin-top: 65px;
    margin-left: 96px;
    background: #375E97;
}

.btn4 {
    width: 421.14px;
    height: 107px;
    margin-left: 96px;
    margin-top: 65px;
    background: #385804;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.img_bloc4_2 {
    width: 493px;
    height: 599px;
    margin-top: 149px;
    margin-left: 91px;
    background: #3F681C;
}

.header_text4 {
    width: 494px;
    height: 74px;
    margin-top: 20px;
    margin-left: 91px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.text4 {
    margin-top: 20px;
    margin-left: 91px;
    width: 494px;
    height: 113px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.text5{
    width: 864px;
height: 192px;
margin-left: 288px;
margin-top: 149px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 96px;
text-align: center;
color: #26313B;
}
.cards5{
    display: inline-flex;
}
.img5{
    width: 219px;
height: 219px;
background: #FB6542;
}
#img5{
    margin-left: 96px;
}
.blocs5{
    margin-top: 79px;
margin-left: 123px;
}
.text5_1{
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
text-align: center;
color: #000000;
}
.footer{
    display: inline-flex;
}
.item_lists1{
    width: 168px;
    height: 301px;
    margin-top: 217px;
    margin-left: 96px;
    padding-left: 0px;
    
}
.item_lists2{
    width: 168px;
    height: 301px;
    margin-top: 217px;
    margin-left: 86px;

}
.item_lists3{
    width: 168px;
height: 145px;
margin-top: 217px;
margin-left: 40px;
}
.item_lists4{
    width: 388px;
    height: 162px;
    margin-top: 199px;
    margin-left: 164px;
}
.head_li{
    margin-bottom: 23px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #131313;
}
.item_list{
    margin-bottom: 17px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #131313;
}
.item_list:hover {
    border-bottom: 2px solid #385804;
    padding-bottom: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    cursor: pointer;
}
.header_form{
    margin-top: 0px;
    margin-bottom: 34px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #000000;
}
.email{
    width: 341px;
height: 46px;
border: none;
border-bottom: 2px solid #000000;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 39px;
color: #000000;
}
.btn6{
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 0px;
    width: 69px;
height: 69px;
    background-image: url(Group21.svg) ;
    border: none;
}
.input{
    display: inline-flex;
}