.title-background{
    position: absolute;
    width: 1440px;
    height: 1017px;
    left: 0px;
    top: 0px;
    background: rgba(56, 88, 4, 0.08);
}
.menu-main li{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}
.menu-main li:hover{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    border-bottom:2px solid #385804;
    width: 18.5px;
}
.menu-main a{
    color: #000000;
    text-decoration: none;
}
.Home{
    position: absolute;
    width: 67px;
    height: 33px;
    left: 261px;
    top: 66px;
}
.Product{
    position: absolute;
    width: 86px;
    height: 33px;
    left: 383px;
    top: 66px;
}
.About{
    position: absolute;
    width: 99px;
    height: 33px;
    left: 524px;
    top: 66px;
}
.Manufacturing{
    position: absolute;
    width: 163px;
    height: 33px;
    left: 678px;
    top: 66px;
}
.head-title{
    position: absolute;
    width: 662px;
    height: 288px;
    left: 122px;
    top: 246px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}
.head-paragraph{
    position: absolute;
    width: 494px;
    height: 183px;
    left: 122px;
    top: 577px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}
.btn-product{
    position: absolute;
    width: 307px;
    height: 78px;
    left: 122px;
    top: 803px;
    background: #385804;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}
.title-color-block{
    position: absolute;
    width: 680px;
    height: 902px;
    left: 760px;
    top: 224px;
    background: #375E97;
}