.background_head {
    width: 1440px;
    height: 1017px;
    background: rgba(56, 88, 4, 0.08);
}

.body {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 64px;
    height: 64px;
    padding-left: 96px;
    padding-top: 51px;
}

.menu {
    display: inline-flex;
    height: 64px;
    width: 1440px;
}

.menu_list {
    list-style: none;
    margin-left: 101px;
    margin-right: 465px;
    margin-top: 66px;
    padding: 0px;
    width: 590px;
    height: 33px;
}

.menu_btn {
    display: inline;
    margin-left: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}

#home {
    margin-left: 0;
}

.top_btn {
    text-decoration: none;
    color: #000000
}

.top_btn:hover {
    border-bottom: 2px solid #385804;
    padding-bottom: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.burger {
    width: 38px;
    height: 11px;
    padding-right: 95px;
    padding-top: 82px;
}

.block1 {
    display: inline-flex;
}

.name {
    width: 638px;
    height: 288px;
    margin-left: 122px;
    margin-top: 147px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}

.text1 {
    width: 494px;
    height: 183px;
    margin-top: 43px;
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.btn1 {
    width: 307px;
    height: 78px;
    margin-top: 43px;
    margin-left: 122px;
    background: #385804;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #FFFFFF;
}

.img_block1 {
    width: 680px;
    height: 902px;
    margin-top: 125px;
    background: #FFBB00;
}

.block2 {
    display: inline-flex;
}

.name2 {
    width: 605px;
    height: 192px;
    margin-top: 249px;
    margin-left: 122px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #26313B;
}

.header_list {
    width: 494px;
    height: 128px;
    margin-top: 258px;
    margin-left: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #26313B;
}

.list {
    list-style-type: none;
}

.put {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #385804;
    margin-top: 67px;
}

.put_text {
    width: 494px;
    height: 109px;
    margin-left: 44px;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #26313B;
}

.put_text p {
    margin-top: 0px;
}

.item_put {
    display: inline-flex;
}